body {
    background-color: #fafcff;
}

.column {
    float: left;
}
  
/* Left and right column */
.column.side {
    width: 25%;
  }
  
  /* Middle column */
.column.middle {
    width: 50%;
  }

#header {
    background-color: #ad1a64;
    color: #fafcff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 48px;
    margin: 0px;
    /* margin-inline-start: 50px; */
    padding: 50px;
}

#content {
    font-family: 'Spectral', serif;
    font-size: 18px;
    padding-top: 50px;
}

#title {
    font-family: 'Merriweather', serif;
    font-size: 36px;
    padding-top: 50px;    
}

.ad-left {
    padding: 40px;
    padding-top: 250px;
}

.ad-right {
    padding: 40px;
    padding-top: 250px;
}

.banner {
    flex: auto;
    max-width: 100%;
}